<template>
    <div class="grid grid-cols-2">
        <div>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight"> {{selected.name}} Chat</h2>
        </div>
        <div>
            <select v-model="selected" @change="$emit('changeRoom', selected)" style="padding: 0px">
                <option style="cursor: pointer"
                    v-for="(room, index) in rooms"
                    :key="index"
                    :value="room"
                >
                {{room.name}}
                 </option>
            </select>
        </div>
    </div>
</template>

<script>
export default {
    props: ['rooms', 'currentRoom'],
    data: function (){
        return {
            selected : []
        }
    },
    created() {
        this.selected = this.currentRoom
    }

}
</script>

<style scoped>
    select{
        float: right;
        width: 180px;
        margin-right: 100px;
        padding: 5px;
        cursor: pointer;
        font-size: 20px;
    }
    option{
        padding: 15px;
        font-size: 20px;
    }
</style>
