<template>
    <div class="bottom_wrapper clearfix" >
        <div class="message_input_wrapper">
            <input
                type="text"
                class="message_input"
                placeholder="Type your message here..."
                v-model="message"
                @keyup.enter="sentMessage()"
            />
        </div>
        <div class="send_message" @click="sentMessage()">
            <div class="icon"></div>
            <div class="text" >Send</div>
        </div>
    </div>
</template>

<script>
import Button from '../../Jetstream/Button.vue';
import Input from '../../Jetstream/Input'

export default {
    props: ['room'],
    name: 'InputMessage',
    components: {Input },
    data: function(){
        return {
            message: '',
            messageOne: ''
        }
    },
    methods:{
        sentMessage() {
            this.messageOne = this.message;
            this.message = '';
            if(this.message !== null ){
                axios.post(`chat/room/${this.room.id}/message`,
                    { message : this.messageOne }
                ).then(response => {
                    if(response.status == 201){
                        this.messageOne = '';
                        this.$emit('messageSent');
                    }
                }).catch(error => console.log(error))
            }
        }
    }
}
</script>
