<template #message-item>
    <ul class="messages">
        <li  v-for="(message, index) in messages" :key="index" :value="message">
            {{ (message.user_id == user.id) ? statusMessage('right') : statusMessage('left') }}
            <span :class="chekMessage">
                <div class="avatar">
                    <img style="margin-top: -5px " :src="photo" />
<!--                   <strong style="font-size: 13px; line-height: 133px; padding: 10px; color: #555">{{ message.user.name.substring(0,6) }}</strong>-->
                </div>
                <div class="text_wrapper" style="margin: 8px 11px;">
                    <div class="text">{{ message.message }}</div>
                </div>
            </span>
        </li>
    </ul>
</template>

<script>
export default {
    props: ['messages','user'],
    name: 'MessageItem',
    data: function(){
        return {
            chekMessage: 'message right appeared',
            photo: window.location.href + 's\\user.png'
        }
    },
    methods:{
        statusMessage($type){
            this.chekMessage = ($type == 'right') ? 'message right appeared' : 'message left appeared';
            this.photo =  ($type == 'right') ?  window.location.href + 's\\owner.png' :  window.location.href + 's\\user.png';
        },
    },

}
</script>

<style>

</style>
