<template>
    <app-layout>
        <template #header>
            <chat-room-selection
                v-if="currentRoom.id"
                :rooms="chatRooms"
                :currentRoom="currentRoom"
                v-on:changeRoom="setRoom( $event )"
             />
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg container-chat">
                    <message-layout :room="currentRoom">
                        <message-item :messages="messages" :user="user"/>
                        <input-message :room="currentRoom" v-on:messageSent="getMessages()" />
                    </message-layout>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import MessageLayout from '@/Pages/Includes/MessageLayout'
import InputMessage from '@/Pages/Includes/InputMessage'
import ChatRoomSelection from "@/Pages/Includes/ChatRoomSelection"
import MessageItem from  "@/Pages/Includes/MessageItem"

export default {
    components: {
        ChatRoomSelection,
        AppLayout,
        MessageLayout,
        InputMessage,
        MessageItem,
    },
    data: function(){
        return {
            chatRooms: [],
            currentRoom: [],
            messages: [],
            user: this.getUser()
        }
    },
    watch:{
        currentRoom(val , oldVal){
            if(oldVal.id){
                this.disconnect(oldVal);
            }
           this.connect();
        },
    },
    methods:{
        connect(){
            if(this.currentRoom.id){
                var vm = this;
                this.getMessages();
                window.Echo.private(`chat.${this.currentRoom.id}`)
                .listen('.new.message',e => { vm.getMessages() })
            }
        },
        disconnect( room ){
            window.Echo.leave(`chat.${room.id}`)
        },
        getRooms(){
            axios.get('chat/rooms')
            .then(response => {
                this.chatRooms = response.data;
                this.setRoom(this.chatRooms[0]);
            })
            .catch(error => {
                console.log(error);
            })
        },

        setRoom( room ){
            this.currentRoom = room;
        },

        getMessages(){
             axios.get(`chat/room/${this.currentRoom.id}/messages`)
            .then(response => {
                this.messages = response.data;
            })
            .catch(error => {
                console.log(error);
            })
        },

        getUser(){
             axios.get(`user/get`)
            .then(response => {
                this.user = response.data;
            })
            .catch(error => {
                console.log(error);
            })
        },
    },
    created(){
        this.getRooms();
    },
}
</script>
