<template>
    <img style="width: 70px; height: 55px" :src="photo" />
</template>

<script>
export default {
    data: function () {
        return {
            photo: window.location.href + 's\\logo.png'
        }
    }
}
</script>
