<template>
    <div>
        <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
            <div>
                <jet-application-logo class="block h-12 w-auto" />
            </div>

            <div class="mt-8 text-2xl">
                Welcome to your Medica Crm chat application Made By Elhawary !
            </div>

            <div class="mt-6 mb-12 text-gray-500">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque eum eveniet iure, libero maxime
                quae quidem quisquam. Aliquam atque aut consequatur culpa eius eos eveniet excepturi illo recusandae
                sed..
            </div>
        </div>

    </div>
</template>

<script>
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo'

    export default {
        components: {
            JetApplicationLogo,
        },
    }
</script>
